/* for mobile */
body {
    font-size: 80%;
    margin: 0;
}

#sign-container {
    display: none;
}

#signtitle{
    margin-bottom: 5vh;
    margin-left: 3vw;
    font-family: "Lucida Console",  monospace;
}

#signsection {
    margin-left: 26vw;
    margin-top: 30vw;
}

label {
    font-family: "Lucida Console",  monospace;
    font-size: 130%;
}

#signsubmit {
    font-family: "Lucida Console",  monospace;
    margin-left: 10vw;
}

#signform{
    margin-right: 25vw;
}

#back {
    font-size: 120%;
    border: none;
    background: none;
    font-family: "Lucida Console",  monospace;
    margin-top: 2vh;
    margin-left: 2vh;
}

.menunav {
    margin-top: 8%;
    margin-left: 10%;
    text-align: center;
    overflow: hidden;
}

.menunav a {
    float: left;
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 130%;
    color: #234F6A;
    transition-duration:1;
    
}
  
.menunav a.active {
    color:#C70039;
    border-bottom: 3px solid #C70039;
  }

.searchbar{

    margin-top: 1%;
    width:65%;
    height: 5vh;
    background-color: #F0EDE7;
    display: flex;
    align-items: center;
    border-radius: 50vw;
    padding-top: 3vw;
    padding-bottom: 3vw;
    padding-left: 3vw;
}

.searchbar input{
    background-color: transparent;
    flex: 1;
    border: none;
    font-size: 120%;
    
}

.searchbar button img{
    width: 4vw;
    margin-bottom: 1vw;
}

.searchbar button{
    margin-left:3vw;
    border: 0;
    border-radius: 50%;
    width: 8vw;
    height: 8vw;
    background: #C70039;
}

.communitybar {
    height: 8vh;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
    background-color:#E9C7CD;
    align-items: center;
    justify-content: center;
    display: flex;
}

.post-like {
    float: right;
    font-family: "Lucida Console",  monospace;
}

.heart{
    
    color: #C70039;
    font-size: 150%;
}

.card {
    margin-left: 12%;
    margin-top: 5%;
    box-shadow:  0 4vw 2vw -2vw  #aaaaaa;
}

.community-btn {
    margin-left: 35%;
}

.community-btn button {
    background-color: #aaaaaa; 
    border: none;
    color: white;
    padding: 1vw 3vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left;
  }
  
#post-btn {
    border-bottom-left-radius: 15%;
    border-top-left-radius: 15%;
    background-color: #4d1c07;
    color: white;
}
#video-btn {
    border-bottom-right-radius: 15%;
    border-top-right-radius: 15%;
}

#video-container {
    display: none;
}

#backTo {
    text-decoration: none;
    padding-right: 2vw;
    font-size: 180%;
    color:white;
    float: left;
}

.detailedPost {
    font-family: "Lucida Console",  monospace;
    font-size: 130%;
    color:white;
    display: block;
    justify-content:left;
}

#learnbtn {
    color: white;
    margin-left: 25%;
}